<!DOCTYPE html>
<html ng-app="heroApp" ng-controller="MainCtrl">
<head>
  <link rel="icon" type="image/png" href="/icons/slricon.png">
  <meta charset="UTF-8">
  <title>Hero Stats Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<style>
  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #212529;
    color: #f8f9fa;
  }

  header {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #495057;
	position:sticky;
	top:0;
	z-index: 1000;
  }

  .tabs {
    display: flex;
    gap: 10px;	
  }

  .tab {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #495057;
    color: #f8f9fa;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .tab:hover {
    background-color: #6c757d;
  }

  .tab.active {
    background-color: #0d6efd;
  }

  .add-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .add-btn:hover {
    background-color: #007bff;
  }
  
  .add-btn:disabled {
	  background-color: #6c757d;
	  cursor: not-allowed;
	  opacity: 0.65;
	}


  .content {
    display: flex;
    height: calc(100vh - 110px);
	justify-content: center;
	padding-top:20px;
	
  }

  .left-panel, .right-panel {
    padding: 10px;
    overflow-y: auto;
  }

  .center-panel {
    width: 70%;    
  }
  
  .left-panel {
    width: 60%;    
  }

  .right-panel {
    width: 40%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #343a40;
  }

  th, td {
    padding: 8px;
    border: 1px solid #495057;
    text-align: left;
    color: #f8f9fa;
  }
  
  #selHero td {    
    border: none;    
  }

  th {
    background-color: #495057;
	text-align:center;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .grid-item {
    position: relative;
    width: 133px;
    height: 133px;
    background-color: #343a40;
    border: 1px solid #495057;
    border-radius: 4px;
    overflow: hidden;
	cursor:pointer;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #f8f9fa;
    width: 100%;    
    font-size: 14px;
    text-align: center;
	font-weight: bold;
	padding: 4px 0px;
  }
  
  .overlayTop {
    position: absolute;
    top: 0;    
    color: #f8f9fa;
    width: 100%;    
    font-size: 14px;
    text-align: center;
	font-weight: bold;	
  }
  
  .overlayTop span.rrr {
	border-radius: 10px;    
    background: rgba(0, 0, 0, 0.25);
    padding: 5px;  
    margin-top: 3px;   
  }
  
  .stThumb {
	width:80px;
  }
  
  .gstats {
	line-height:39px;
  }
  
  .sort-dropdown {
  margin-bottom: 10px;
  font-weight: bold;
}

.sort-dropdown select {
  margin-left: 8px;
  padding: 4px;
  min-height:32px;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.image-label {
  display: inline-block;
  cursor: pointer;
  padding: 1px 4px 0px;
  border-radius: 6px;
  transition: box-shadow 0.2s;
  height:32px;
}

.image-label img {
  width: 24px;
  height: 32px;
  object-fit: contain;
}

input[type="radio"]:checked + .image-label {
  box-shadow: 0 0 0 2px #007bff;
}

.icon-selector {
  cursor:pointer;
}


#heroStats td {
	padding:0px;
	
}

.h32 {
 line-height:32px;
 height:32px;
}

img.heroClass {
	height: 25px;
    width: 25px;
    padding-top: 5px;
}

.popup-overlay {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}
.popup-box {
  background: #212529; padding: 20px; border-radius: 6px; width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

.header-button:hover {
  background-color: #0056b3;
}


</style>

</head>
<body>

<header>
  <div class="tabs">
	<div class="gstats" style="padding-right:15px;">Всього ігор: {{stats.length}}</div>
    <div class="tab" ng-class="{active: activeTab === 'history'}" ng-click="activeTab = 'history'">Історія</div>
    <div class="tab" ng-class="{active: activeTab === 'grid'}" ng-click="activeTab = 'grid'">Усі Герої</div>
	<div class="gstats" style="padding-left:15px;cursor:pointer" ng-click="showAllPlaced=!showAllPlaced" ng-show="!showAllPlaced">Середнє місце: {{avgPlace | number:1}}</div>
	<div class="gstats" style="padding-left:15px;cursor:pointer" ng-click="showAllPlaced=!showAllPlaced" ng-show="showAllPlaced">{{getAllPlacesString()}}</div>
  </div>  
</header>
<div style="text-align: right; margin-top: 8px; color:gray !important; font-size:13px;margin-right:12px">
  <a href="" style="color: gray;text-decoration: none;" ng-click="exportStats()">Експорт</a> |
  <a href="" style="color: gray;text-decoration: none;" ng-click="importStats()">Імпорт</a>
</div>

<div class="content">
<div ng-show="showExportImportPopup" class="popup-overlay">
  <div class="popup-box">
    <h3 style="margin-top:0px">{{popupMode === 'export' ? 'Експорт' : 'Імпорт'}}</h3>
	<span ng-show="popupMode === 'import'">Імпортовані дані НЕ замінять збережені. Для повернення до збережених - оновіть сторінку.</span><br/><br/>
    <textarea ng-model="popupBase64" rows="6" ng-readonly="popupMode === 'export'"
              onclick="this.select()" style="width:100%; font-family:monospace;"></textarea>
    <div style="text-align:right; margin-top:8px;">
	  <div class="header-button" ng-if="popupMode === 'import'" ng-click="confirmImport()">Імпорт</div>
	  <div class="header-button" ng-if="popupMode === 'export'" ng-click="copyToClipboard()">Копіювати</div>
	  <div class="header-button" style=" background-color: #495057;" ng-click="closePopup()">Закрити</div>	  
	</div>

  </div>
</div>
  <div class="center-panel" ng-show="activeTab === 'history'">
    <table>
      <thead>
        <tr>
          <th>Місце</th>
          <th class="stThumb" style="padding-left:0px;padding-right:0px;">Герой</th>
          <th>Імя</th>
          <th style="width:170px">Дата</th>
          <th>Інфо</th>
		  <th style="width:30px"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in stats | orderBy:'-ticks' track by $index" ng-style="{		  
        'background-color': record.rank == 1 ? '#c39011' :
                           record.rank == 2 ? 'gray' :
                           record.rank == 3 ? '#7B6139' : ''
      }">
          <td style="font-size:36px;font-weight:bold;text-align:center;" >{{record.rank}}</td>
          <td style="padding:0px !important"><img class="stThumb" ng-src="{{getHeroImage(record.heroId)}}"></td>
          <td style="text-align:center">{{getHero(record.heroId).name}}</td>
          <td style="text-align:center">{{record.datetime}}</td>
          <td>{{record.notes}}</td>
		  <td>
			<button ng-if="!isImportedData" ng-click="deleteRecord(stats.indexOf(record))" style="background:#dc3545; color:white; border:none; padding:4px 8px; border-radius:4px;cursor:pointer;">✖</button>
		  </td>
        </tr>
      </tbody>
    </table>
  </div>

<div ng-show="activeTab === 'grid'" style="width:100%;display:flex">
  <div class="left-panel" style="scrollbar-width:none">
  <div class="sort-dropdown" style="display:flex;flex-direction: row;flex-wrap: wrap;">
  <div style="margin-right:20px;">
  <label for="heroSort" class="h32">Сортувати за:</label>
  
  <select id="heroSort" ng-model="selectedSortKey"
        ng-options="opt.key as opt.label for opt in sortOptions">
	</select>
	</div>
	<div style="display:flex;" class="h32">
	<label for="heroSort" style="margin-right:15px">Фільтрувати за:</label>
	<div ng-click="filterClass=''" style="cursor:pointer;line-height:32px;">Усі</div>&nbsp;
	<div ng-repeat="icon in iconList" class="icon-selector">
	  <input type="radio"
			 id="{{icon}}"
			 name="filterClass"
			 ng-model="$parent.filterClass"
			 ng-value="icon"
			 class="visually-hidden" />
	  <label for="{{icon}}" class="image-label">
		<img ng-src="img/slr/classes/{{icon}}.png" alt="{{icon}}" style="height:32px"/>
	  </label>
	</div>
</div>
</div>

    <div class="grid">
      <div class="grid-item" ng-repeat="hero in heroes | optionalFilter:filterClass | heroSort:selectedSortKey:sortHeroes" ng-click="selectHero(hero)">
		<div class="overlayTop">
		
		<span style="float:left; margin-left: 5px">
		<img class="heroClass" ng-repeat="img in getHeroSkills(hero)" ng-src="{{img}}" alt="class" class="hero-img">
		</span>
		
		<span ng-if="hero.games>0" style="float:right; margin-right: 3px" class="rrr">{{hero.games}} / {{hero.avgRank | number:1}}</span>
		</div>
		
        <img ng-src="{{getHeroImage(hero.id)}}">
        <div class="overlay">{{hero.name}}</div>
      </div>
    </div>
  </div>

  <div class="right-panel">
	  <div ng-if="selectedHero" style="margin-bottom: 20px; display: flex; gap: 20px;">
	  <div>
		<img ng-src="{{getHeroImage(selectedHero.id)}}" style="width: 150px; height: 150px; object-fit: cover; border-radius: 8px;">	        
	  </div>
	  <div>	  
	  	<div style="display:flex">
			<div style="font-size:24px;font-weight:bold">{{selectedHero.name}}</div>
			<div style="display:flex;align-items: center; margin-left:5px; margin-top: -5px;"><img style="width:25px;height:25px"" ng-repeat="img in getHeroSkills(selectedHero)" ng-src="{{img}}" alt="class" class="hero-img"></div><br/><br/>
		</div>
		<i style="color:skyblue">Пасивка:</i> <span ng-bind-html="selectedHero.pd"></span><br/><br/>
		<b style="color:#d96a6a">Ульта:</b> <span ng-bind-html="selectedHero.ud"></span>
	  </div>	 
	</div>
	<div ng-if="selectedHero">
	 <table  style="width: 100%; border-collapse: collapse; margin-bottom: 20px;background-color: #212529;" id="selHero">		 
		  <tr>
			<td style="padding: 8px; color: #adb5bd;">Ігр зіграно</td>
			<td style="padding: 8px;width:100px;text-align:right">{{getHeroStats(selectedHero.id).gamesPlayed}}</td>
		  </tr>
		  <tr>
			<td style="padding: 8px; color: #adb5bd;">Середнє Місце (Останні 5/25/*)</td>
			<td style="padding: 8px;width:100px;text-align:right">{{getHeroStats(selectedHero.id).avg5 | number:1}} / {{getHeroStats(selectedHero.id).avg25 | number:1}} / {{getHeroStats(selectedHero.id).avgAll | number:1}}</td>
		  </tr>	
		</table>
	</div>

	<div ng-if="selectedHero == null && !isImportedData" style='color:red;font-size:24px;padding-bottom:15px'>Виберіть героя щоб додати гру!</div>
	<div ng-if="!isImportedData" style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 20px;">
	<select ng-model="newRecord.rank" style="min-width: 80px; flex: 1; min-height: 32px;">
		  <option value="" disabled selected>Місце</option>
		  <option ng-repeat="n in [1,2,3,4,5,6,7,8]" value="{{n}}">{{n}}</option>
	</select>	  
	  <input type="datetime-local" ng-model="newRecord.datetime" placeholder="yyyy-mm-dd hh:mm"  style="min-width: 160px; flex: 2;" />
	  <input type="text" ng-model="newRecord.notes" placeholder="Інфо (до 50 символів)" maxlength="50" style="min-width: 160px; flex: 2;" />
	  <button class="add-btn" ng-click="addSelectedRecord()" ng-disabled="!isValidRecord()">Додати Гру</button>	  
	</div>
    <table id="heroStats">
      <thead>
        <tr>
          <th>Місце</th>          
          <th>Дата</th>
          <th>Інфо</th>
		  <th style="width:30px"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-style="{		  
        'background-color': record.rank == 1 ? '#c39011' :
                           record.rank == 2 ? 'gray' :
                           record.rank == 3 ? '#7B6139' : ''
      }" ng-repeat="record in getSelectedHeroGames(selectedHero.id) | orderBy:'-ticks' track by $index">
          <td style="text-align:center;font-size:32px;font-weight:bold">{{record.rank}}</td>          
          <td style="text-align:center">{{record.datetime}}</td>
          <td>{{record.notes}}</td>
		  <td style="padding-left:5px">
			<button ng-if="!isImportedData" ng-click="deleteRecord(stats.indexOf(record))" style="background:#dc3545; color:white; border:none; padding:4px 8px; border-radius:4px;cursor:pointer;">✖</button>
		  </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<script>

const app = angular.module('heroApp', []);

app.filter('heroSort', function() {
  return function(input, sortKey, sortFn) {
    return sortFn(input, sortKey);
  };
});


app.filter('reverse', function() {
  return function(items) {
    return items.slice().reverse();
  };
  });

app.filter('optionalFilter', function() {
  return function(items, criteria) {
    if (!criteria) return items; // handles null, undefined, empty string
    return items.filter(function(item) {
      // Replace with your actual matching logic
      return item.t && item.t.toLowerCase().includes(criteria.toLowerCase());
    });
  };
});


  
  app.controller('MainCtrl', function($scope, $sce) {
      $scope.activeTab = 'history';
	  $scope.selectedHero = null;	  
	  $scope.avgPlace = 0.0;
	  $scope.showAllPlaced = false;
	  $scope.filterClass = null;	  
	  
	  $scope.$watch('selectedHero', function() {
		refreshDt();
	  });
	  
	 $scope.sortHeroes = function(heroes, sortKey) {
  if (!Array.isArray(heroes)) return heroes;

  return heroes.slice().sort((a, b) => {
    switch (sortKey) {
      case 'nameAsc':
        return a.name?.localeCompare(b.name, 'uk') || 0;
      case 'nameDesc':
        return b.name?.localeCompare(a.name, 'uk') || 0;
      case 'gamesDesc':
        return (b.games || 0) - (a.games || 0);
      case 'avgRankDesc':
        return -(b.avgRank || 0) + (a.avgRank || 0);
      default:
        return 0;
    }
  });
};
		$scope.allPlaces = new Int32Array(8);


		const SORT_KEY = 'heroSortOrder';

		$scope.sortOptions = [
		  { label: 'Імя ↑', key: 'nameAsc' },
		  { label: 'Імя ↓', key: 'nameDesc' },
		  { label: 'Кількість ігор', key: 'gamesDesc' },
		  { label: 'Середнє місце', key: 'avgRankDesc' }
		];

		$scope.selectedSortKey = localStorage.getItem(SORT_KEY) || 'gamesDesc';
		

		$scope.$watch('selectedSortKey', function(newKey) {
		  localStorage.setItem(SORT_KEY, newKey);		  
		});

	$scope.iconList = [ 'attack','evade','crit','health','ulti','healer','poison','freeze','shield','wound','sprite','rage','speed','flex'];
 
	$scope.getHeroSkills = function (hero) {		
		if(!hero.t)
		return [];
		
		let split = hero.t.split('|');		
		let arr = [];		
		for(let i=0;i<split.length;i++) {		 
			arr.push("img/slr/classes/"+split[i]+".png");
		}
		
		return arr;
	}


      $scope.heroes = [
        { id: 1, name: 'Орк', t:'attack'},
        { id: 2, name: 'Шмига', t:'evade'},
		{ id: 3, name: 'Рексар', t:'crit'},
		{ id: 4, name: 'Гном' , t:'health'},
		{ id: 5, name: 'Панда', t:'healer' },
		{ id: 6, name: 'Маг' ,t:'ulti'},
		{ id: 7, name: 'Бабка' , t:'poison'},
		{ id: 8, name: 'Ліч', t:'freeze'},
		{ id: 9, name: 'Рейдер', t:'flex'},
		{ id: 10, name: 'Варлок', t:'rage' },
		{ id: 11, name: 'Драколицар', t:'attack|poison' },
		{ id: 12, name: 'Центуріон', t:'shield|rage' },
		{ id: 13, name: 'Іллюха', t:'crit|evade' },
		{ id: 14, name: 'Гоблін Алхімік', t:'healer|wound' },
		{ id: 15, name: 'Гоблін Інженер', t:'flex' },
		{ id: 16, name: 'Енча', t:'ulti|sprite' },
		{ id: 17, name: 'Інквізитор', t:'healer|sprite' },
		{ id: 18, name: 'Антимаг', t:'attack|evade' },
		{ id: 19, name: 'Мороженка', t:'attack|freeze' },
		{ id: 20, name: 'Бичок',  t:'attack|health' },
		{ id: 21, name: 'Пінгвін', t:'healer|freeze'},
		{ id: 22, name: 'Темпларка', t:'evade|poison' },
		{ id: 23, name: 'Спектра', t:'evade|shield'},
		{ id: 24, name: 'Акула', t:'health|freeze' },
		{ id: 25, name: 'Огр', t:'crit|ulti' },
		{ id: 26, name: 'ЦМка', t:'ulti|freeze' },
		{ id: 27, name: 'Свен', t:'crit|health' },
		{ id: 28, name: 'Рейнджер', t:'ulti' },
		{ id: 29, name: 'Суккуб', t:'health|ulti'},
		{ id: 30, name: 'Токсік', t:'healer|poison' },
		{ id: 31, name: 'Снайпер', t:'crit' },
		{ id: 32, name: 'Друід', t:'sprite' },
		{ id: 33, name: 'Пудж', t:'health|sprite' },
		{ id: 34, name: 'Жирний Рікі', t:'wound|sprite' },
		{ id: 35, name: 'Нага', t:'freeze|wound' },
		{ id: 36, name: 'Ковбой', t:'flex'},
		{ id: 37, name: 'Мірана', t:'attack|ulti' },
		{ id: 38, name: 'Черепаха', t:'shield' },
		{ id: 39, name: 'Чортяка', t:'health|healer' },
		{ id: 40, name: 'Павук', t:'crit|poison' },
		{ id: 41, name: 'Перчик', t:'wound|rage' },
		{ id: 42, name: 'Керфуфуфла', t:'wound' },
		{ id: 43, name: 'Демонесса', t:'ulti|rage' },
		{ id: 44, name: 'Лицар смерті', t:'crit|freeze' },
		{ id: 45, name: 'Біткоін', t:'flex' },
		{ id: 46, name: 'Варвар', t:'crit|health' },
		{ id: 47, name: 'Мурлок', t:'poison|freeze' },
		{ id: 48, name: 'Паладін', t:'healer|shield' },
		{ id: 49, name: 'Пеньок' , t:'shield|sprite'},
		{ id: 50, name: 'Щитовик', t:'health|shield' },
		{ id: 51, name: 'Ґоґа', t:'ulti|wound' },
		{ id: 52, name: 'Вовчик', t:'attack|healer' },
		{ id: 53, name: 'Гриб' , t:'poison|sprite'},
		{ id: 54, name: 'Дракон', t:'health' },
		{ id: 55, name: 'Хускар', t:'flex' },
		{ id: 56, name: 'Скаймаг', t:'speed' },
		{ id: 57, name: 'Канонір', t:'flex' },
		{ id: 58, name: 'Вікінг', t:'crit|shield' },
		{ id: 59, name: 'Архангел', t:'flex' },
		{ id: 60, name: 'Колючка', t:'health' },
        // Add more heroes here
      ];

	
	
	
	$scope.heroes.forEach(h => { h.games = 0; h.totalScore = 0; });

	const saved = localStorage.getItem('heroStats');
	$scope.stats = saved ? JSON.parse(saved) : [];
	  
	  $scope.totalRank = 0;
	  $scope.stats.forEach(r => {
		  r.ticks = Date.parse(r.datetime); // parses 'yyyy-mm-dd hh:mm' into ms
		  $scope.heroes[r.heroId-1].games++;
		  $scope.heroes[r.heroId-1].totalScore += r.rank;		
		  $scope.totalRank += r.rank;		
		  $scope.allPlaces[r.rank-1]++;
		});
	
	  if($scope.stats.length>0)
		$scope.avgPlace = $scope.totalRank / $scope.stats.length;
	  
	  $scope.heroes.forEach(h => { 
	  if(h.games>0) 
		h.avgRank = h.totalScore / h.games; 
	  else h.avgRank = 9;	 
	  });

      $scope.getHero = function(id) {
        return $scope.heroes.find(h => h.id === id) || {};
      };

      $scope.addRecord = function() {
        alert('Add record clicked!');
      };
	  
	  $scope.getHeroImage = function(id){
		return 'img/slr/'+id+'.png';
	  };
	  
	  $scope.selectHero = function(hero) {
		  $scope.selectedHero = hero;		  
		};
		
	  $scope.getAllPlacesString = function() {
		return $scope.allPlaces.join('/');
	  
	  }
		$scope.getHeroStats = function(heroId) {
		  const records = $scope.stats.filter(r => r.heroId === heroId).sort((a, b) => b.ticks - a.ticks);
		  const avg = (arr) => arr.reduce((sum, r) => sum + r.rank, 0) / arr.length || 0;
		  return {
			gamesPlayed: records.length,
			avg5: avg(records.slice(0,5)),	
			avg25: avg(records.slice(0, 25)),
			avgAll: avg(records)
		  };
		};

	    $scope.getSelectedHeroGames = function(heroId) {	
			return $scope.stats.filter(r => r.heroId === heroId).slice().reverse();			
		}
		
		
		$scope.newRecord = { rank: '', datetime: getCurrentFormattedDate(), notes: '' };

		$scope.addSelectedRecord = function() {
		  if (!$scope.selectedHero) return;
		  
		  let newRec = {
			rank: parseInt($scope.newRecord.rank),
			heroId: $scope.selectedHero.id,
			datetime: getLocalDatetimeString($scope.newRecord.datetime) ,
			notes: $scope.newRecord.notes,
			ticks: $scope.newRecord.datetime.getTime()
		  };
		  
		  $scope.selectedHero.games++;
		  $scope.selectedHero.totalScore += newRec.rank;
		  $scope.selectedHero.avgRank = $scope.selectedHero.totalScore / $scope.selectedHero.games;
		  
		  $scope.stats.push(newRec);	
		  $scope.totalRank += newRec.rank;
		  $scope.avgPlace = $scope.totalRank / $scope.stats.length;		  
		  
		  $scope.allPlaces[newRec.rank-1]++;
		  
		  saveStats();
		  
		  $scope.newRecord = { rank: '', datetime: getCurrentFormattedDate(), notes: '' };
		};
		
		$scope.isValidRecord = function() {
		  const r = $scope.newRecord;
		  if(!$scope.selectedHero)
			return false;
		  return (			
			/^\d+$/.test(r.rank) &&			
			r.notes.length <= 50
		  );
		};
		
		$scope.deleteRecord = function(index) {
		  let r = $scope.stats[index].rank;
		  let hero = $scope.heroes.filter(r => r.id === $scope.stats[index].heroId)[0];
		  hero.games--;
		  hero.totalScore -=  r;
		  if(hero.games>0)
			hero.avgRank = hero.totalScore / hero.games;
		  else
			hero.avgRank = 9;
		  
		  
		  
		  
		  $scope.stats.splice(index, 1);
		  $scope.totalRank -= r;		
		  
		  if($scope.stats.length > 0)
			$scope.avgPlace =  $scope.totalRank / $scope.stats.length;
		else
			$scope.avgPlace = 0;
		  
		  $scope.allPlaces[r-1]--;
		  saveStats(); // persist change
		};
		
		function refreshDt() {
			if(!$scope.newRecord)
				$scope.newRecord = { rank: '', datetime: getCurrentFormattedDate(), notes: '' };
			else
				$scope.newRecord.datetime = getCurrentFormattedDate();
			$scope.$digest();
		}
		
		setInterval(refreshDt, 1*60*1000);
		
		
		$scope.abilities = [
		  {
			"heroId":1,
			"n": "BLADE CHIEF",
			"pt": "KILLING INSTINCT",
			"pd": "Each battle increases the hero's <font color='#A1B7E0'>ATK</font> by 2",
			"ut": "PENALTY SLASH",
			"ud": "Slashes out a blade of light towards the enemy, dealing (<font color='#2CCD2C'>130</font>+Self ATK*4) Phys.DMG to the enemy."
		  },
		  {
			"heroId":2,
			"n": "HIDDEN BLADE",
			"pt": "MASTERFUL ESCAPE",
			"pd": "Each defeat increases the hero's <font color='#627eec'>Dodge</font> by 1.",
			"ut": "DART COMBO",
			"ud": "Throws 2 darts, each dealing <font color='#2CCD2C'>100</font> Mag.DMG to the enemy, while increasing self <font color='#627eec'>Dodge</font> by 10 for 4s."
		  },
		  {
			"heroId":3,
			"n": "RAGING COMMANDER",
			"pt": "LETHAL ATTACK",
			"pd": "Increases the initial <font color='#ff2429'>CRIT DMG</font> multiplier by 40%.",
			"ut": "BOMB BOOM",
			"ud": "Throws a bomb, dealing (<font color='#2CCD2C'>240</font>+<font color='#ff2429'>CRIT</font>*3) <font color='#e2a600'>Holy DMG</font> to the enemy, while reducing the enemy's Max HP by the same amount."
		  },
		  {
			"heroId":4,
			"n": "DWARFY LORD",
			"pt": "BATTLE-HARDENED",
			"pd": "Each battle increases the hero's <font color='#ff9e39'>Max HP</font> by 25",
			"ut": "STORM HAMMER",
			"ud": "Throws a steel hammer at the enemy, dealing (<font color='#2CCD2C'>150</font>+Hero's <font color='#ff9e39'>Max HP</font>*<font color='#2CCD2C'>6</font>) Mag.DMG to the enemy."
		  },
		  {
			"heroId":5,
			"n": "PANDA WARRIOR",
			"pt": "BOOZE GUARD",
			"pd": "Each time the hero takes damage, there is a 40% chance to <font color='#eebc15'>recover</font> (Hero Level+5) HP.",
			"ut": "BONDING TOAST",
			"ud": "Instantly <font color='#eebc15'>recovers</font> <font color='#2CCD2C'>120</font> HP, while throwing a jar of wine, dealing <font color='#2CCD2C'>200</font> Mag.DMG to the enemy."
		  },
		  {
			"heroId":6,
			"n": "MYSTIC MAGE",
			"pt": "ENERGY STACK",
			"pd": "After the battle begins, each time the <font color='#60ffc9'>ultimate skill</font> is released, the damage of the <font color='#60ffc9'>ultimate skill</font> is increased by 50%, with a maximum increase of 300%",
			"ut": "MAGIC ORB",
			"ud": "Summons an energy-formed magic orb that flies towards the enemy, dealing <font color='#2CCD2C'>300</font> Mag.DMG upon hitting the enemy."
		  },
		  {
			"heroId":7,
			"n": "VENOM SORCERER",
			"pt": "VENOM DEEPENING",
			"pd": "Increases all <font color='#0f7f03'>Poison</font> DMG the enemy received by (Hero Level*6).",
			"ut": "POTENT VENOM",
			"ud": "Throws a toxic orb that, upon hitting the enemy, inflicts <font color='#2CCD2C'>160</font> stacks of <font color='#0f7f03'>Poison</font> on them."
		  },
		  {
			"heroId":8,
			"n": "FROSTBORNE LORDDEEP",
			"pt": "FREEZE",
			"pd": "Increases stacks of <font color='#80cdff'>Freeze</font> inflicted on enemies by 30%.",
			"ut": "METEOR ICEFALL",
			"ud": "Summons ice blocks to fall from the sky, stunning the enemy for <font color='#2CCD2C'>0.8</font>s and dealing <font color='#2CCD2C'>300</font> Phys.DMG."
		  },
		  {
			"heroId":38,
			"n": "ROYAL KNIGHT",
			"pt": "NOBLE GEAR",
			"pd": "Reduces the natural decay of the <font color='#775b46'>Shield</font> by 15%.",
			"ut": "SHIELD MASTERY",
			"ud": "Summons a shield array that adds <font color='#2CCD2C'>65</font> stacks of <font color='#775b46'>Shield</font> every 0.5s, lasting for 2s."
		  },
		  {
			"heroId":42,
			"n": "KERFUFFLE APOSTLE",
			"pt": "EVIL INVASION",
			"pd": "When an enemy's HP drops below 33%, instantly inflicts 50+Hero Level*5) stacks of <font color='#674d7d'>Wound</font> on them. Can only be triggered once per battle.",
			"ut": "TWIN ORBS",
			"ud": "Summons two orbs to attack the enemy, dealing <font color='#2CCD2C'>150</font> Phys.DMG and <font color='#2CCD2C'>150</font> Mag.DMG respectively."
		  },
		  {
			"heroId":30,
			"n": "PLAGUE WARLOCK",
			"pt": "VENOM HEALING",
			"pd": "Whenever the enemy takes <font color='#0f7f03'>Poison</font> DMG, <font color='#eebc15'>recovers</font> HP equal to 15% of that damage, at least <font color='#eebc15'>recovering</font> 1.",
			"ut": "PLAGUE FLUX",
			"ud": "Instantly <font color='#eebc15'>recovers</font> <font color='#2CCD2C'>150</font> HP, while also throwing a poison bomb that inflicts <font color='#2CCD2C'>100</font> stacks of <font color='#0f7f03'>Poison</font> on the enemy."
		  },
		  {
			"heroId":50,
			"n": "TRIBE WARRIOR",
			"pt": "HP ENHANCE",
			"pd": "Each unique <font color='#775b46'>Shield branch</font> skill possessed increases the hero's <font color='#ff9e39'>Max HP</font> by 35.",
			"ut": "VITALITY SHIELD",
			"ud": "Instantly grants self (Hero Max HP*<font color='#2CCD2C'>7%</font>) stacks of <font color='#775b46'>Shield</font>, while hurling a battle axe at the enemy, dealing <font color='#2CCD2C'>170</font> Phys.DMG."
		  },
		  {
			"heroId":37,
			"n": "TIGER SHOOTER",
			"pt": "LUNAR BLESSING",
			"pd": "Each Ultimate cast increases <font color='#A1B7E0'>ATK SPD</font> by 30%, lasting for 3s.",
			"ut": "LUNAR THUNDERPEN",
			"ud": "Summons lightning to strike the enemy instantly, dealing <font color='#2CCD2C'>200</font> Mag.DMG. Additionally, increases self <font color='#A1B7E0'>ATK</font> by <font color='#2CCD2C'>6</font>. This effect can stack."
		  },
		  {
			"heroId":13,
			"n": "DEMON SHADOW",
			"pt": "EVIL RESURGENCE",
			"pd": "During the battle, increases both <font color='#627eec'>Dodge</font> and <font color='#ff2429'>CRIT</font> by 1 every <font color='#eebc15'>1.5</font>s, up to 10.",
			"ut": "STORM RAVAGE",
			"ud": "Summons a storm to blow towards the enemy, dealing Mag.DMG equal to (<font color='#627eec'>Dodge</font>+<font color='#ff2429'>CRIT</font>)*<font color='#2CCD2C'>4</font>)."
		  },
		  {
			"heroId":35,
			"n": "NAGA QUEEN",
			"pt": "FREEZE CURSE",
			"pd": "Every 30 stacks of <font color='#80cdff'>Freeze</font> inflicted on the enemy additionally applies 25 stacks of <font color='#674d7d'>Wound</font> to the enemy.",
			"ut": "ICEBURST BOMB",
			"ud": "Launches 6 ice bombs, each dealing <font color='#2CCD2C'>30</font> Mag.DMG on hit and inflicting <font color='#2CCD2C'>30</font> stacks of <font color='#80cdff'>Freeze</font>."
		  },
		  {
			"heroId":20,
			"n": "BULL HEAD CHIEF",
			"pt": "FIGHT WITH GROWING VALOUR",
			"pd": "For every 100 points that the <font color='#ff9e39'>current health value</font> of the hero is less than the <font color='#ff9e39'>maximum health value</font>, the <font color='#A1B7E0'>attack power</font> increases by 1 point.",
			"ut": "SHOCKWAVE",
			"ud": "Launch 2 energy waves at the enemy. Each energy wave deals <font color='#2CCD2C'>100</font> points of magical damage. For every 15 points of <font color='#A1B7E0'>attack power</font>, an additional energy wave is launched."
		  },
		  {
			"heroId":44,
			"n": "THE TYRANT OF FROST SHADOW",
			"pt": "PIERCING COLD FROST",
			"pd": "For every 2 stacks of <font color='#80cdff'>Freeze</font> on the enemy, your <font color='#ff2429'>Critical Strike Damage</font> will be increased by 1%.",
			"ut": "FROZEN CAGE",
			"ud": "Envelop the enemies in frost. Add <font color='#2CCD2C'>10</font> stacks of <font color='#80cdff'>Freeze</font> to them every 0.5 s. During this period, the physical damage you deal will definitely <font color='#ff2429'>Critical Strike</font>, lasting for 2 s."
		  },
		  {
			"heroId":48,
			"n": "HOLY KNIGHT",
			"pt": "REPEL EVIL",
			"pd": "Whenever the enemy casts the <font color='#60ffc9'>Ultimate</font>, there is a 80% chance to gain 60 stacks of <font color='#775b46'>Shield</font> on the hero.",
			"ut": "SACRED VERDICT",
			"ud": "Summons a sacred hammer to descend from the sky, dealing (<font color='#2CCD2C'>200</font>+Self <font color='#775b46'>Shield</font> Stacks) Mag.DMG to the enemy, while <font color='#eebc15'>recovering</font> HP equal to 60% of that damage."
		  },
		  {
			"heroId":51,
			"n": "ASTRAL MAGE",
			"pt": "ENERGY DRAIN",
			"pd": "Each time the hero takes Mag.DMG, there is a 100% chance to recover 1 <font color='#60ffc9'>Energy</font>.",
			"ut": "Raven's Verdict",
			"ud": "Summons a crow to strike the enemy, dealing <font color='#2CCD2C'>220</font> Mag.DMG. Each 1 stacks of <font color='#674d7d'>Wound</font> on the enemy increases <font color='#60ffc9'>Ultimate DMG</font> this time by 1%."
		  },
		  {
			"heroId":22,
			"n": "SHADOW ASSASSIN",
			"pt": "DODGE STEAL",
			"pd": "When a battle starts, steals 5 <font color='#627eec'>Dodge</font> from the enemy.",
			"ut": "WHEEL OF REVENGE",
			"ud": "Throws a venom wheel at the enemy to deal <font color='#2CCD2C'>120</font> Phys.DMG. On hit, inflicts (Sum of <font color='#627eec'>Dodge</font> of Both Sides*<font color='#2CCD2C'>2</font>) stacks of <font color='#0f7f03'>Poison</font>."
		  },
		  {
			"heroId":32,
			"n": "JUNGLE PROPHET",
			"pt": "SUPPORTIVE AURA",
			"pd": "<font color='#ff91d2'>Sprites</font> get (Hero Level *1.5) reduced damage.",
			"ut": "ENTANGLEMENT",
			"ud": "Summons vines to entangle the enemy, dealing <font color='#2CCD2C'>90</font> Mag.DMG every 1s for 3s. Each <font color='#ff91d2'>Sprite</font> on the battlefield when casting the Ultimate extends the duration of the vines by 1s."
		  },
		  {
			"heroId":34,
			"n": "CHAOS OVERLORD",
			"pt": "WICKED REFORM",
			"pd": "When a <font color='#ff91d2'>Sprite</font> dies, it inflicts (30+<font color='#ff91d2'>Sprite's</font> Max HP*5%) stacks of <font color='#674d7d'>Wound</font> on the enemy.",
			"ut": "COMMAND MINIONS",
			"ud": "Summons a meteor to crash down on the enemy, dealing <font color='#2CCD2C'>200</font> Phys.DMG. If a <font color='#ff91d2'>Sprite</font> is alive on the battlefield, an additional <font color='#ff91d2'>Sprite</font> with (<font color='#2CCD2C'>50</font> + Hero Level * 10) HP is summoned."
		  },
		  {
			"heroId":11,		  
			"n": "VENOM DRAGONIER",
			"pt": "VICTORY CHASE",
			"pd": "Increases self <font color='#A1B7E0'>ATK SPD</font> by 6% for every 10% reduction of the enemy's current HP compared to the Max HP.",
			"ut": "VIRULENT GALE",
			"ud": "Summons a virulent wind around the enemy, instantly inflicting <font color='#2CCD2C'>70</font> stacks of <font color='#0f7f03'>Poison</font> on them. For the next 3s, each Base Attack that hits the enemy inflicts an additional <font color='#2CCD2C'>10</font> stacks of <font color='#0f7f03'>Poison</font>."
		  },
		  {
			"heroId":26,
			"n": "FROST MAGE",
			"pt": "ICY WISDOM",
			"pd": "Whenever the <font color='#80cdff'>Freeze</font> effect is added to an enemy, there is a 80% probability to recover 1 points of <font color='#60ffc9'>Energy</font>.",
			"ut": "BLIZZARD",
			"ud": "Summon 5 pieces of ice to fall from the sky and smash into enemies. Each piece of ice deals <font color='#2CCD2C'>60</font> points of magic damage. For every 20 stacks of <font color='#80cdff'>Freeze</font> on the enemy, an additional 1 pieces of ice will be summoned."
		  },
		  {
			"heroId":14,
			"n": "ALCHEMIST",
			"pt": "ACID BOMB",
			"pd": "Every time the hero has cumulatively endured damage equal to 10% of the <font color='#ff9e39'>maximum HP</font>, it will add 10 stacks of <font color='#674d7d'>Wound</font> to the enemy.",
			"ut": "CHEMICAL STORM",
			"ud": "Recover <font color='#2CCD2C'>50</font> health every <font color='#eebc15'>0.8</font> s, lasting 4 s. During this period, all <font color='#674d7d'>Wound</font> applied are increased by an additional <font color='#2CCD2C'>5</font> stacks."
		  },
		  {
			"heroId":23,
			"n": "GOD OF VENGEANCE",
			"pt": "RISING SHADOWS",
			"pd": "When the hero's <font color='#ff9e39'>HP</font> falls below 40%, increase <font color='#627eec'>Dodge</font> by 10 points.",
			"ut": "SHADOW EMPOWERMENT",
			"ud": "Apply <font color='#775b46'>Shield</font> equal to (<font color='#627eec'>Dodge</font>*3) to yourself with Shadow Empowerment, while throwing a Shadow Dagger to deal <font color='#2CCD2C'>200</font> physical damage to enemies."
		  },
		  {
			"heroId":17,
			"n": "SPRITE PRIEST",
			"pt": "SHADOW SHIFT",
			"pd": "When a <font color='#ff91d2'>Sprite</font> is present, the hero's <font color='#eebc15'>HP Regen</font> is reduced by 50%, but each <font color='#eebc15'>recovery</font> deals (<font color='#eebc15'>HP Regen Amount</font>*200%) Mag.DMG to the enemy.",
			"ut": "ARROW OF AGONY",
			"ud": "Launching a Shadow Arrow deals <font color='#2CCD2C'>210</font> points of magic damage to the enemy and reduces the enemy's recovery by 80% within 3 s."
		  },
		  {
			"heroId":15,
			"n": "GOBLIN ENGINEER",
			"pt": "ENGINEERING UPGRADE",
			"pd": "increase Mag.DMG by 2 points for each different skill you possess.",
			"ut": "FIREPOWER COVERAGE",
			"ud": "Fire 10 rockets to bombard the enemy, each rocket dealing (25 + Hero Level * 1.5) physical damage."
		  },
		  {
			"heroId":18,
			"n": "EVIL BREAKER",
			"pt": "NULLIFY ATTACK",
			"pd": "Each Base Attack has a 75% chance to reduce the enemy's <font color='#60ffc9'>Energy</font> by 1.",
			"ut": "VOID BURST",
			"ud": "Concentrates void energy to strike the enemy, instantly dealing (<font color='#2CCD2C'>300</font>+[<font color='#627eec'>Self Dodge</font>-<font color='#627eec'>Enemy Dodge</font>]*5) Mag.DMG."
		  },
		  {
			"heroId":25,
			"n": "FLAME COLOSSUS",
			"pt": "CHAIN CAST",
			"pd": "The Ultimate has a (35+<font color='#ff2429'>Self Crit</font>*0.8)%) chance to cast again, up to 4 additional casts. (Recasts do not count towards the Ultimate usage limit).",
			"ut": "FIREBALL",
			"ud": "Hurls a fireball at the enemy, dealing <font color='#2CCD2C'>200</font> Mag.DMG and stunning them for 0.3s on hit."
		  },
		  {
			"heroId":24,
			"n": "DEEPSEA GIANT",
			"pt": "RESILIENT SKIN",
			"pd": "Every 20 HP lost reduces the hero's <font color='#0f7f03'>Poison</font>, <font color='#80cdff'>Freeze</font>, and <font color='#674d7d'>Wound</font> by 1 stacks each.",
			"ut": "SURGING TIDE",
			"ud": "Summons a waterspout engulfed in crashing waves to strike the enemy, dealing (<font color='#2CCD2C'>100</font>+Self <font color='#ff9e39'>Lost HP</font>*3%) Mag.DMG and inflicting an equal amount of <font color='#80cdff'>Freeze</font> stacks on the enemy."
		  },
		  {
			"heroId":53,
			"n": "TOXIC MUSHROOM",
			"pt": "ACTIVE TOXIN",
			"pd": "When you have a sprite alive on the field, enemies take additional <font color='#0f7f03'>poison damage</font> equal to (enemy hero's <font color='#ff9e39'>current health</font>*4%).",
			"ut": "CORROSIVE POISON",
			"ud": "Concentrate venom to damage enemies, reducing their <font color='#A1B7E0'>attack speed</font> by 30% and adding <font color='#2CCD2C'>45</font> stacks of <font color='#0f7f03'>poison</font> every <font color='#eebc15'>1</font> s for 4 s."
		  },
		  {
			"heroId":49,
			"n": "TREANT GUARD",
			"pt": "THORN COUNTER",
			"pd": "For every 60 damage actually blocked by the hero's <font color='#775b46'>Shield</font>, the <font color='#ff91d2'>Sprite</font> fires an energy blast at the enemy and deals 25 Mag.DMG.",
			"ut": "NATURE WARD",
			"ud": "Summons a <font color='#ff91d2'>Sprite</font> with 50 HP, granting the hero <font color='#2CCD2C'>220</font> stacks of <font color='#775b46'>Shield</font>, while reducing the ally <font color='#ff91d2'>Sprite's DMG Share</font> to 5%, lasting for 2s."
		  },
		  {
			"heroId":52,
			"n": "LUNAR HUNTER",
			"pt": "HUNTER'S FEAST",
			"pd": "Normal attacks deal bonus magic damage based on a percentage of the enemy’s <font color='#ff9e39'>current HP</font>.and <font color='#eebc15'>recover</font> the same amount of HP.",
			"ut": "FRENZY STANCE",
			"ud": "Go into a frenzy! Stealing 20% of the enemy’s <font color='#A1B7E0'>attack speed</font> and increasing your HP <font color='#eebc15'>recovery</font> effect by <font color='#2CCD2C'>10</font> for 4s."
		  },
		  {
			"heroId":28,
			"n": "FOREST RANGER",
			"pt": "ARROW HAIL",
			"pd": "Fires 10 arrows at the enemy every <font color='#eebc15'>6</font>s, each dealing 15 Phys.DMG. Each time the Ultimate is cast, it advances the next arrow hail by 3s.",
			"ut": "VEILED ARROW",
			"ud": "Fires a massive light arrow dealing <font color='#2CCD2C'>240</font> Mag.DMG to the enemy, and dodges the next 5 instances of Phys.DMG."
		  },
		  {
			"heroId":27,
			"n": "BLOODTHIRSTY BERSERKER",
			"pt": "FLESH AND BLOOD PROLIFERATION",
			"pd": "When a <font color='#ff2429'>Critical Hit</font> occurs, steal (the maximum health value of your own hero * 1.5%) points of <font color='#ff9e39'>Maximum Health</font> from the enemy hero.",
			"ut": "FLESH AND BLOOD SEGMENTATION",
			"ud": "Summon sharp blades to divide the enemies, instantly dealing (<font color='#2CCD2C'>200</font> + the difference between the two sides' <font color='#ff9e39'>Maximum Health</font> * 10%) points of physical damage."
		  },
		  {
			"heroId":10,
			"n": "FURIOUS MAGE",
			"pt": "TOUCH TRIGGER",
			"pd": "When <font color='#ff9e39'>the enemy's HP</font> drops below 75%, every 0.5s, increases the hero's <font color='#92122b'>Rage</font> by 30, lasting for 5s. Can only be triggered once per battle.",
			"ut": "DESTRUCTION BEAM",
			"ud": "Emits a beam charged with destructive energy, dealing (<font color='#2CCD2C'>180</font>+<font color='#92122b'>Sum of Rage of Both Sides</font>) Mag.DMG on the enemy."
		  },
		  {
			"heroId":43,
			"n": "PYROMANCER",
			"pt": "BLAZING ENERGY",
			"pd": "Gain 1 <font color='#60ffc9'>Energy</font> for every 10 <font color='#90172f'>Rage</font> accumulated.",
			"ut": "Flying Fire Meteor",
			"ud": "Deals (<font color='#2CCD2C'>310</font>+<font color='#90172f'>Current Rage</font>*33%) magic damage to enemies."
		  },
		  {
			"heroId":33,
			"n": "STITCHED BEHEMOTH",
			"pt": "FLESH REMODEL",
			"pd": "After a <font color='#ff91d2'>Sprite</font> dies, the hero's 20% HP will be reshaped into a new <font color='#ff91d2'>Sprite</font>. Reshaping is not possible when the <font color='#ff9e39'>hero's HP</font> is below 200.",
			"ut": "WRAITH STRIKE",
			"ud": "Sends out a shockwave dealing (<font color='#2CCD2C'>150</font>+<font color='#ff91d2'>Number of Sprites Summoned</font> This Battle*<font color='#2CCD2C'>30</font>) Mag.DMG to the enemy."
		  },
		  {
			"heroId":12,
			"n": "SILENT GUARD",
			"pt": "RAISE THE SOLID SHIELD HIGH",
			"pd": "In the <font color='#92122b'>enraged state</font>, each stack of <font color='#775b46'>shield</font> can block an additional 0.8 points of damage.",
			"ut": "PSIONIC ECHO",
			"ud": "Condense energy and descend from the sky, dealing (<font color='#2CCD2C'>230</font> + the actual damage blocked by the shields accumulated during the two ultimate skill releases <font color='#775b46'>cumulative shield actual damage blocked</font> * 20%) points of magic damage to enemy heroes."
		  },
		  {
			"heroId":21,
			"n": "Penguin Captain",
			"pt": "COLD NOURISHMENT",
			"pd": "Every <font color='#eebc15'>1</font> s, <font color='#eebc15'>recover</font> yourself for (10 + 30% * enemy's <font color='#80cdff'>Freeze stacks</font>) HP.",
			"ut": "FROST ORB",
			"ud": "Launching an orb, deals (<font color='#2CCD2C'>300</font> + <font color='#eebc15'>total HP recovered during travel</font> * 100%) magic damage to the enemy."
		  },
		  {
			"heroId":40,
			"n": "BLOODSHED MONARCH",
			"pt": "VENOMOUS FANG",
			"pd": "Your <font color='#0f7f03'>Poison DMG</font> can also critically hit,with a fixed 20% chance.",
			"ut": "VENOM WRAP",
			"ud": "Standing on toxic marshland, inflicts <font color='#2CCD2C'>20</font> stacks of <font color='#0f7f03'>Poison</font> on enemies every <font color='#eebc15'>0.5</font>s, accelerating <font color='#0f7f03'>Poison</font> DMG application by 50%, lasting for 2.5s."
		  },
		  {
			"heroId":19,
			"n": "GLACIAL SPRITE",
			"pt": "MOIST VAPOR",
			"pd": "Each time the <font color='#A1B7E0'>Base Attack</font> hits the enemy, it inflicts an additional (<font color='#A1B7E0'>Self Base Attack Count</font>-<font color='#A1B7E0'>Enemy Base Attack Count</font>) stacks of <font color='#80cdff'>Freeze</font>.",
			"ut": "ELEMENTAL MIGHT",
			"ud": "Increases the hero's <font color='#A1B7E0'>ATK SPD</font> by 100%, which ends after launching the Base Attack <font color='#2CCD2C'>10</font> times."
		  },
		  {
			"heroId":41,
			"n": "PEPPER SHOOTER",
			"pt": "BULLET BURST",
			"pd": "For every 100 points of <font color='#90172f'>Rage</font> accumulated, fire a bullet that deals 120 magic damage. If a single bullet deals more than 120 damage to an enemy hero, another bullet is fired.",
			"ut": "ENCHANTED BULLET",
			"ud": "Fire a bullet and curse the enemy, lasting for 4 s. During this period, apply <font color='#2CCD2C'>30</font> stacks of <font color='#674d7d'>Wound</font> to the enemy every <font color='#eebc15'>1</font> s."
		  },
		  {
			"heroId":16,
			"n": "WOODLAND DRYAD",
			"pt": "WILD ASSISTANCE",
			"pd": "Every 4 s after battle starts, a <font color='#ff91d2'>SPRITE</font> will come to your aid with (50+hero level*10) health.",
			"ut": "SAVAGE GROWTH",
			"ud": "Unleash the power of the wild, dealing (<font color='#2CCD2C'>200</font> + <font color='#2CCD2C'>30</font> * number of <font color='#ff91d2'>SPRITE</font> on the field) magic damage to enemies. And recover 100 health to the <font color='#ff91d2'>SPRITE</font> with the lowest health percentage."
		  },
		  {
			"heroId":29,
			"n": "EVIL SPIRIT MATRIARCH",
			"pt": "EVIL SPIRIT TREASURE BEAD",
			"pd": "Recover an additional (2 * <font color='#ff9e39'>percentage of current lost health</font>) points of <font color='#60ffc9'>energy</font> every 0.2 s.",
			"ut": "SOUL SIPHON",
			"ud": "Send out evil spirits flying towards the enemies, dealing (<font color='#2CCD2C'>150</font> + the <font color='#ff9e39'>maximum health</font> of the enemy heroes * 10%) points of magic damage, and stealing the <font color='#ff9e39'>maximum health</font> equal to the amount of damage the enemy heroes have received."
		  },
		  {
			"heroId":9,
			"n": "WOLF HUNTER",
			"pt": "WEALTH PLUNDER",
			"pd": "After each victorious battle, plunder (20 + Victories*105) GOLD from the opponent, but not exceeding 50 GOLD.",
			"ut": "NET TOSS",
			"ud": "Throw a net to ensnare the enemy, stunning them for 2 s (unable to attack, dodge, or use ultimate skills)."
		  },
		  {
			"heroId":55,
			"n": "TRIBAL WARSOUL",
			"pt": "BLOODLUST",
			"pd": "The TRIBAL WARSOUL is filled with a desire for battle, increasing player damage by +1.",
			"ut": "SPEAR OF SACRIFICE",
			"ud": "Throw a spear of light at the enemy, dealing (<font color='#2CCD2C'>200</font> + Player Damage * <font color='#2CCD2C'>40</font>) magic damage upon hit."
		  },
		  {
			"heroId":31,
			"n": "DWARVEN VETERAN",
			"pt": "HEADSHOT",
			"pd": "Each <font color='#ff2429'>critical strike</font> will inflict an additional stun for 0.2 s after dealing damage to the enemy.",
			"ut": "RAPID FIRE",
			"ud": "Launch continuous explosive shells, dealing <font color='#2CCD2C'>25</font> points of physical damage to enemies every <font color='#eebc15'>0.2</font> s,lasting for 2 s."
		  },
		  {
			"heroId":46,
			"n": "WARLORD",
			"pt": "Warhammer Pursuit",
			"pd": "Each <font color='#ff2429'>Crit</font> deals bonus damage based on 1% of the <font color='#ff9e39'>HERO's</font> Max HP.",
			"ut": "Inferno of Strife",
			"ud": "Unleashes 4 flames from all around, striking enemies. Each flame deals <font color='#2CCD2C'>80</font> Physical Damage."
		  },
		  {
			"heroId":39,
			"n": "DEMON DUKE",
			"pt": "Abyssal Amplification",
			"pd": "During combat, 25% of <font color='#eebc15'>healing received</font> increases the <font color='#ff9e39'>HERO's</font> Max HP for this battle.",
			"ut": "Flames of Retribution",
			"ud": "Hurls Flames of Retribution at an enemy, dealing (<font color='#2CCD2C'>200</font> + sum of both <font color='#ff9e39'>HEROES'</font> Max HP * 4%) Magic Damage."
		  },
		  {
			"heroId":47,
			"n": "CHILLLIGHT PROPHET",
			"pt": "Plague Frost Orb",
			"pd": "When applying <font color='#0f7f03'>Poison</font> to an enemy, there is a 33% chance to also inflict 15 stacks of <font color='#80cdff'>Freeze</font>.",
			"ut": "Freezing Venom",
			"ud": "Throw 4 frost venom vials at the enemy. Each vial applies <font color='#2CCD2C'>30</font> stacks of <font color='#0f7f03'>Poison</font> and <font color='#80cdff'>Freeze</font>.For every 10% HP the enemy loses, throw 1 extra vials."
		  },
		  {
			"heroId":45,
			"n": "LORD STINGY",
			"pt": "Accumulate Wealth",
			"pd": "Increases the basic interest cap by 50 gold.",
			"ut": "Power of Money",
			"ud": "Throws a gold bomb that deals (<font color='#2CCD2C'>200</font> + current Gold * 35%) Physical Damage to the enemy."
		  },
		  {
			"heroId":54,
			"n": "Dragon Overlord",
			"pt": "Overlord's Form",
			"pd": "For each unique skill you possess, increase <font color='#ff9e39'>Max HP</font> by 20.",
			"ut": "Tyrant's Breath",
			"ud": "Unleash dragonfire, dealing (<font color='#2CCD2C'>200</font> + combined level of both heroes * 15) Magic Damage to the target."
		  },
		  {
			"heroId":36,
			"n": "Bounty Hunter",
			"pt": "Golden Decadence",
			"pd": "Gain 40 gold whenever you acquire 3 common skills in a round.",
			"ut": "Silver Bullet Barrage",
			"ud": "Fire 5 silver bullets at the enemy, each dealing <font color='#2CCD2C'>45</font> Holy Damage. For every 100 Gold the enemy has, fire 1 additional bullets."
		  },
		  {
			"heroId":56,
			"n": "Sky Hurricane",
			"pt": "Storm Momentum",
			"pd": "When dealing damage, 33% chance to gain 25 stacks of <font color='#5d82af'>Haste</font>.",
			"ut": "Thousand Blade Gale",
			"ud": "Summon a storm around the enemy, dealing <font color='#2CCD2C'>40</font> magic dmg every <font color='#eebc15'>0.5</font>s for 3s."
		  },
		  {
			"heroId":57,
			"n": "Goblin Gunner",
			"pt": "Special Delivery",
			"pd": "Whenever you fire a non-basic attack projectile, fire a copy of it that deals 25% of the original projectile's damage.",
			"ut": "Barrage",
			"ud": "Fire 5 random non-basic attack projectiles, each dealing at least <font color='#2CCD2C'>30</font> damage."
		  },
		  {
			"heroId":58,
			"n": "Vanguar Soldier",
			"pt": "",
			"pd": "When your <font color='#775b46'>SHIELD</font> blocks damage, there is a (25 + <font color='#ff2429'>own CRIT</font> X 0.6)% chance to deal (1+This blocked damage X 0.2) Mag. damage to the enemy.",
			"ut": "",
			"ud": "Hurl a boomerang shield, dealing <font color='#2CCD2C'>80</font> physical damage and granting the hero <font color='#2CCD2C'>80</font> stack(s) of <font color='#775b46'>SHIELD</font> upon its return. If the attack lands a <font color='#ff2429'>CRITICAL STRIKE</font>, the shield is thrown again."
		  },
		  {
			"heroId":59,
			"n": "Sin Crusher",
			"pt": "",
			"pd": "Earn 25 gold whenever you acquire a <font color='#775b46'>Counter Skill</font>.",
			"ut": "",
			"ud": "Call down 4 holy blades from the heavens, each dealing <font color='#2CCD2C'>80</font> magic damage. Gain 1 additional sword for every max-level <font color='#775b46'>Counter Skill</font>."
		  },
		  {
			"heroId":60,
			"n": "FATAL THORNS",
			"pt": "",
			"pd": "For every 1 points of player <font color=#ff9e39>lost player's HP</font> lost, increase 15 points of <font color=#ff9e39>maximum HP</font>.",
			"ut": "",
			"ud": "Jet spikes deal (<font color='#2CCD2C'>200</font>+<font color=#ff9e39>lost player's HP</font>*<font color='#2CCD2C'>5</font>) magic damage to the enemy."
		  }
		];

	$scope.heroes.forEach(h => { 
	  let abilities = $scope.abilities.find(p => p.heroId === h.id) || {};
	  if(abilities) {
		h.pt = $sce.trustAsHtml(abilities.pt);
		h.pd = $sce.trustAsHtml(abilities.pd);
		h.ut = $sce.trustAsHtml(abilities.ut);
		h.ud = $sce.trustAsHtml(abilities.ud);
	  }
	  });
	  
	$scope.importStats = function () {
	  $scope.popupMode = 'import';
	  $scope.popupBase64 = '';
	  $scope.showExportImportPopup = true;
	};

	$scope.copyToClipboard = function () {
	  const textarea = document.querySelector('textarea[ng-model="popupBase64"]');
	  if (textarea) {
		textarea.select();
		document.execCommand('copy');		
		$scope.closePopup();
	  }
	};

	$scope.exportStats = function () {
	  const buffer = new ArrayBuffer($scope.stats.length * 10);
	  const view = new DataView(buffer);

	  $scope.stats.forEach((stat, i) => {
		const offset = i * 10;
		view.setUint8(offset, stat.heroId);
		view.setUint8(offset + 1, stat.rank);
		view.setBigUint64(offset + 2, BigInt(stat.ticks), true);
	  });

	  const binary = new Uint8Array(buffer);
	  const base64 = btoa(String.fromCharCode(...binary));

	  $scope.popupMode = 'export';
	  $scope.popupBase64 = base64;
	  $scope.showExportImportPopup = true;
	  
	   setTimeout(() => {
		const textarea = document.querySelector('textarea[ng-model="popupBase64"]');
		if (textarea) textarea.select();
	  }, 0);

	};

	$scope.confirmImport = function () {
	  const base64 = $scope.popupBase64;
	  if (!base64) return;

	  const binaryStr = atob(base64);
	  const binary = new Uint8Array(binaryStr.length);
	  for (let i = 0; i < binaryStr.length; i++) {
		binary[i] = binaryStr.charCodeAt(i);
	  }

	  const view = new DataView(binary.buffer);
	  const stats = [];
	  for (let i = 0; i < binary.length; i += 10) {
		const heroId = view.getUint8(i);
		const rank = view.getUint8(i + 1);
		const ticks = Number(view.getBigUint64(i + 2, true));
		const datetime = getLocalDatetimeString(new Date(ticks));
		stats.push({ heroId, rank, ticks, datetime });
	  }
	  
	  $scope.allPlaces = new Int32Array(8);
	  $scope.stats = stats;
	  
	  $scope.selectedHero = null;	  
	  $scope.avgPlace = 0.0;
	  $scope.heroes.forEach(h => { h.games = 0; h.totalScore = 0; });
	  
	  $scope.totalRank = 0;
	  $scope.stats.forEach(r => {
		  r.ticks = Date.parse(r.datetime); // parses 'yyyy-mm-dd hh:mm' into ms
		  $scope.heroes[r.heroId-1].games++;
		  $scope.heroes[r.heroId-1].totalScore += r.rank;		
		  $scope.totalRank += r.rank;		
		  $scope.allPlaces[r.rank-1]++;
		});
	
	  if($scope.stats.length>0)
		$scope.avgPlace = $scope.totalRank / $scope.stats.length;
	  
	  $scope.heroes.forEach(h => { 
	  if(h.games>0) 
		h.avgRank = h.totalScore / h.games; 
	  else h.avgRank = 9;	 
	  });
	  
	  $scope.isImportedData = true;
	  $scope.closePopup();
	};


	$scope.closePopup = function () {
	  $scope.showExportImportPopup = false;
	  $scope.popupBase64 = '';
	};

	function getCurrentFormattedDate() {
	  let dt = new Date();
	   dt.setSeconds(0);
	  dt.setMilliseconds(0);
	  return dt;

	} 
	
	function getLocalDatetimeString(date) {
	  const pad = n => n.toString().padStart(2, '0');
	  return `${date.getFullYear()}-${pad(date.getMonth()+1)}-${pad(date.getDate())} ${pad(date.getHours())}:${pad(date.getMinutes())}`;
	}

	
	function saveStats() {
		if( $scope.isImportedData )
			return;
			
		const cleanStats = $scope.stats.map(r => {
		const clone = angular.copy(r);
		delete clone.$$hashKey;
		return clone;
	  });


	  localStorage.setItem('heroStats', JSON.stringify(cleanStats));
	}

	
	
});
</script>

</body>
</html>